MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=
REDIS_URL=redis://localhost:6379
MEDUSA_BACKEND_URL=http://localhost:9000
# REDIS_URL=redis://localhost:6379
JWT_SECRET=07c6535a38e7646e2d6e2b93fbd35e8e30604f18835400bec3f88b44a73dafca
COOKIE_SECRET=f876476054ddb720ee657c6c1b4406352ec41776a23a7d170a203c6b1be55b08
AUTH_MFA_ENCRYPTION_KEY=19c9e5e473ad75824f871e6b7131aac0345f4b7aa6b526cf289ba27d8fa69b2e
DATABASE_URL=postgresql://postgres:Arjun1234@localhost:5432/smash-backend


STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# pasted anywhere outside the Click & Drop dashboard.
ROYAL_MAIL_CLICK_DROP_API_KEY=
# Optional -- only if the Click & Drop account has multiple trading names.
ROYAL_MAIL_TRADING_NAME="SMASH RACKET PRO"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=