/dist
.env
.DS_Store
/uploads
/node_modules
/scripts
yarn-error.log
All orders.csv

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa